{% extends 'main/layout.html' %}
{% load static %}


{% block content %}
<div class="jumbotron">
    <h2>Журнал вычислений</h2>
    <p class="lead">Скачать или удалить историю вычислений.</p>
    <a href="{% url 'users_cabinet' %}" class="btn btn-primary btn-large">назад к кабинету &raquo;</a>
</div>
           <form method="post" action="{% url 'users_history_download' %}">
        {% csrf_token %}
        <input class="white_text" type="text" name="filename" placeholder="Скачать как:">
        <input type="submit" value="Скачать">

    </form>
        <a href="{% url 'users_history_delete' %}">Удалить историю</a>
            {% for i in history %}
                <div class="u-layout-horizontal">
                    <h4 class="leqn white_text">{{ i.history_view|safe }} </h4>

                </div>
            {% endfor %}

{% endblock %}