.footer_{
  background-color: grey;
  color: #8a8a8a;
  text-decoration-color: white;
}
.background {
     background: url("{% static 'phy/images/phy_bg.jpg' %}");
        min-height: 700px;
    }

* {box-sizing: border-box}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

.red_text{
  color: red;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

.input{
  background: rosybrown;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}


 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("main/images/main_bg.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1096px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: normal;
  margin: 31px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  width: 353px;
  margin: 15px auto 0;
}

.u-section-1 .u-list-1 {
  width: 367px;
  margin: 144px auto 0 15px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 534px;
  grid-gap: 51px 51px;
  grid-auto-columns: 100%;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 22px;
}

.u-section-1 .u-image-1 {
  width: 276px;
  height: 197px;
  margin: 27px auto 0 37px;
}

.u-section-1 .u-text-3 {
  font-weight: 500;
  width: 194px;
  margin: 62px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  margin: 0 31px 0 23px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  border-style: solid;
  background-image: none;
  margin: 86px auto 0 100px;
}

.u-section-1 .u-list-2 {
  width: 346px;
  margin: -527px -20px 0 auto;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: 100%;
  min-height: 527px;
  grid-gap: 51px 51px;
  grid-auto-columns: 100%;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 22px;
}

.u-section-1 .u-image-2 {
  width: 305px;
  height: 218px;
  margin: 40px auto 0;
}

.u-section-1 .u-text-5 {
  font-weight: 500;
  margin: 30px 62px 0 70px;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  margin: 1px 22px 0 32px;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  border-style: solid;
  background-image: none;
  margin: 79px auto 0;
}

.u-section-1 .u-list-3 {
  width: 340px;
  margin: -527px 365px 60px auto;
}

.u-section-1 .u-repeater-3 {
  grid-template-columns: 100%;
  min-height: 527px;
  grid-gap: 51px 51px;
  grid-auto-columns: 100%;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 0 22px;
}

.u-section-1 .u-image-3 {
  width: 305px;
  height: 218px;
  margin: 19px auto 0;
}

.u-section-1 .u-text-7 {
  font-weight: 500;
  margin: 48px 64px 0 68px;
}

.u-section-1 .u-text-8 {
  font-size: 1.125rem;
  margin: 0 27px;
}

.u-section-1 .u-btn-3 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  border-style: solid;
  background-image: none;
  margin: 23px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 904px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 34px) calc(33.3333% - 34px) calc(33.3333% - 34px);
  }

  .u-section-1 .u-text-5 {
    width: 194px;
  }

  .u-section-1 .u-text-7 {
    width: 194px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 692px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 25.5px) calc(50% - 25.5px);
    min-height: 1208px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-list-3 {
    margin-right: 200px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 327px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 10px;
    margin-right: 18px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 73px;
  }

  .u-section-1 .u-list-3 {
    margin-right: 0;
  }
}